## 숫자형

### 정수
- 정수는 int로 나타냄
- 파이썬 정수의 크기는 32bit(=4byte)
- 정수 확인 예제

In [1]:
a = 123
print(type(a))

<class 'int'>

In [2]:
print((9).bit_length())

4

### 부동소수점(실수)

- 부동소수점(실수)은 float으로 나타냄
- 부동소수점(실수) 확인 예제

In [3]:
b = -1.23
print(type(b))

<class 'float'>

### 2진수, 8진수, 16진수

In [4]:
print(bin(255)) # 2진수

0b11111111

In [5]:
print(oct(255)) # 8진수

0o377

In [6]:
print(hex(255)) # 16진수

0xff

### 사칙연산

In [7]:
a = 3
b = 4

print(a+b)
print(a-b)
print(a*b)
print(a/b)

7
-1
12
0.75

### x의 y제곱을 나타내는 ** 연산자

In [8]:
a = 3
b = 4
print(a**b)

81

### 나눗셈 후 몫을 반환하는 // 연산자

In [9]:
a = 7
b = 3
print(a//b)

2

### 나눗셈 후 나머지를 반환하는 % 연산자

In [10]:
a = 7
b = 3
print(a%b)

1

## 문자열 자료형
- 문자열 자체를 표현할 때 ( ' ' ), ( " ") 차이점 없음 (사용자 마음)

In [11]:
say = ""Python is very easy." he says" # 따옴표 중복 사용 불가

SyntaxError: invalid syntax (Temp/ipykernel_68520/1385750172.py, line 1)

In [12]:
say2 = '"Python is very easy." he says'
print(say2)

"Python is very easy." he says

### 특수기호 표기

- 특수 기호의 역할을 하지 못하게 하고 싶을 때 ￦ 를 앞에 붙여줌

In [13]:
money = "10000\"

SyntaxError: EOL while scanning string literal (Temp/ipykernel_68520/3501535323.py, line 1)

In [14]:
money = "10000\\"
print(money)

10000\

- 특수 기호의 역할을 하지 못하게 하고 싶을 때 ￦ 를 앞에 붙여줌

### 줄 바꿈
- 이스케이프 문자 사용

In [15]:
multiline = "Life is short\nYou need python" # 읽기가 불편하고 줄이 길어짐

In [16]:
print(multiline)

Life is short
You need python

- 연속된 작은 따옴표 세 개(''') or 큰 따옴표 세 개(""") 사용

In [17]:
multiline="""
Life is short
You need python
"""

In [18]:
print(multiline)

Life is short
You need python

### 문자열 합치기, 곱하기

In [19]:
head = "Python"
tail = " is fun!"
print(head + tail)

Python is fun!

In [20]:
a = "Python"
print(a*2)

PythonPython

In [21]:
print("=" * 30)
print("My Program")
print("=" * 30)

==============================
My Program
==============================

### 문자열 길이 구하기

In [22]:
a = "Life is too short"
print(len(a))

17

### 문자열 인덱싱

In [23]:
a = "Life is too short, You need Python"

In [24]:
print(a[10])

o

In [25]:
print(a[-10])

e

### 문자열 슬라이싱

In [26]:
a = "Life is too short, You need Python"

In [27]:
print(a[0:4])

Life

In [28]:
print(a[:4])

Life

In [29]:
print(a[10:])

o short, You need Python

### 문자열 수정

In [30]:
a = "Pithon"

In [31]:
a[1] = "y"

TypeError: 'str' object does not support item assignment

In [32]:
a[:1] + "y" + a[2:]

'Python'

### 문자열 포매팅

1. 숫자 바로 대입

In [34]:
print("I eat %d apples" % 3)

I eat 3 apples

2. 문자열 바로 대입

In [36]:
print("I eat %s apples" %"three")

I eat three apples

3. 숫자 값을 나타내는 변수로 대입

In [37]:
number = 3
print("I eat %d apples" % number)

I eat 3 apples

4. 2개 이상의 값을 대입

In [38]:
number = 3
day = "three"
print("I eat %d apples, so I was sick for %s days" % (number,day))

I eat 3 apples, so I was sick for three days

5. %d 와 %를 같이 사용

In [39]:
print("Error is %d%%" %98)

Error is 98%

### 정렬과 공백

In [40]:
print("%s" %"hi")

hi

In [41]:
print("%10s" %"hi")

        hi

In [42]:
print("%-10s" %"hi")

hi

### 소수점 표현하기

In [43]:
print("%f" % 3.42134234)

3.421342

In [44]:
print("%0.4f" % 3.42134234)

3.4213

In [45]:
print("%10.4f" % 3.42134234)

    3.4213

### format() 함수를 이용한 포매팅

In [46]:
print("{} {} {}".format(11,22,33))

11 22 33

- 순서를 이용하여 포매팅 가능

In [54]:
number = 3
day = "three"
print("I eat {1} apples, so I was sick for {0} days".format(number, day))

I eat three apples, so I was sick for 3 days

- 변수 이름을 이용하여 포매팅 가능

In [52]:
print("I eat {number} apples, so I was sick for {day} days".format(number=10, day=3))

I eat 10 apples, so I was sick for 3 days

### f 문자열 포매팅

In [57]:
name = "홍길동"
age = 19
print(f'나의 이름은 {name}입니다. 나이는 {age}입니다.')

나의 이름은 홍길동입니다. 나이는 19입니다.

In [58]:
name = "홍길동"
age = 19
print(f'나의 이름은 {name}입니다. 나이는 {age+1}입니다.')

나의 이름은 홍길동입니다. 나이는 20입니다.

### 문자열 갯수 세기(count)

In [60]:
a = "hobby"
print(a.count("b"))

2

### 문자열 위치 알려주기 예제1 (fine)
- 문자열 b 가 처음 나온 위치를 반환, 찾는 문자나 문자열이 없을 경우 -1을 반환

In [62]:
a = "Python is the best choice"
print(a.find("b"))

14

In [63]:
a = "Python is the best choice"
print(a.find("j"))

-1

### 문자열 위치 알려주기 예제2 (index)
- 문자열 중 문자 t가 처음 나온 위치를 반환, 찾는 문자열이 없을 경우 에러를 반환

In [64]:
a = "Life is too short"
print(a.index("t"))

8

In [65]:
a = "Life is too short"
print(a.index("j"))

ValueError: substring not found

### 문자열 삽입 예제(join)

In [66]:
a = ","
print(a.join('abcd'))

a,b,c,d

- join() 함수의 입력으로 리스트 사용 가능

In [69]:
a = ":"
print(a.join(["a","b","c","d"]))

a:b:c:d

### 소문자, 대문자 전환(upper, lower)

In [70]:
a = "hi"
print(a.upper())

HI

In [71]:
a = "HI"
print(a.lower())

hi

### 공백 지우기(lstrip, rstrip, strip)

In [72]:
a = " hi "
print(a.lstrip()) # 왼쪽 공백 지우기

hi

In [73]:
a = " hi "
print(a.rstrip()) # 오른쪽 공백 지우기

 hi

In [74]:
a = " hi "
print(a.strip()) # 양쪽 공백 지우기

hi

### 문자열 바꾸기 (replace)

In [75]:
a = "Life is too short"
print(a.replace("Life","Your leg"))

Your leg is too short

### 문자열 나누기 예제 (split)
- split() 함수는 괄호 안에 아무것도 넣어 주지 않을 경우 공백을 기준으로 나눔
- split() 함수의 괄호 안에 특정 값이 있는 경우 특정 값을 기준으로 나눔

In [76]:
a = "Life is too short"
print(a.split())

['Life', 'is', 'too', 'short']

In [77]:
b = "a:b:c:d"
print(b.split(":"))

['a', 'b', 'c', 'd']