# 딕셔너리
- 사전
- key:value 형식으로 이루어진 자료형

### 딕셔너리 생성 예제

In [11]:
dic = {'name':'pey', 'phone':'0119993323', 'birth':'1118'}

In [12]:
print(dic)

{'name': 'pey', 'phone': '0119993323', 'birth': '1118'}

In [13]:
a = {1:'hi'}

In [14]:
print(a)

{1: 'hi'}

In [15]:
a = {'a':[1, 2, 3]}

In [16]:
print(a)

{'a': [1, 2, 3]}

### 딕셔너리 키,값 추가 예제

In [17]:
a = {1:'a'}

In [18]:
a[2] = 'b'

In [19]:
print(a)

{1: 'a', 2: 'b'}

In [20]:
a['name'] = 'pey'

In [21]:
print(a)

{1: 'a', 2: 'b', 'name': 'pey'}

In [22]:
a[3] = [1, 2, 3]

In [23]:
print(a)

{1: 'a', 2: 'b', 'name': 'pey', 3: [1, 2, 3]}

### 함수를 만들어서 키와 값으로 활용하기 예제

In [24]:
def add(a, b):
    return a+b
def sub(a, b):
    return a-b

action = {0:add, 1:sub}

In [25]:
action[0](4,5)

9

- 0번 키를 호출, 값에 4, 5를 대입한 결과 출력

### 딕셔너리를 만드는 다른 방법(함수)

In [26]:
a = dict(one=1, two=2)

In [27]:
print(a)

{'one': 1, 'two': 2}

In [28]:
a1 = dict(1=one, two=2)

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (Temp/ipykernel_85992/567782305.py, line 1)

- dict() 함수는 '키워드 인수'를 사용하기 때문에 키가 문자열일 경우 동작

In [29]:
b = dict([('one',1),('two',2)])

In [30]:
print(b)

{'one': 1, 'two': 2}

In [31]:
c = dict([['one',1],['two',2]])

In [32]:
print(c)

{'one': 1, 'two': 2}

In [33]:
keys = ['one', 'two', 'three']
values = (1, 2, 3)
zip(keys, values)
d = dict(zip(keys, values))

In [34]:
print(d)

{'one': 1, 'two': 2, 'three': 3}

### 딕셔너리에서 키 제거 예제

In [35]:
a = {1:'a', 2:'b', 'name':'pey', 3:[1, 2, 3]}

In [36]:
print(a)

{1: 'a', 2: 'b', 'name': 'pey', 3: [1, 2, 3]}

In [37]:
del a[1]

In [38]:
print(a)

{2: 'b', 'name': 'pey', 3: [1, 2, 3]}

### 딕셔너리에서 키를 이용하여 값을 얻기 예제

In [39]:
a = {1:'a', 2:'b'}

In [40]:
print(a[1])

a

In [41]:
print(a[2])

b

### 키 리스트 만들기 예제

In [42]:
a = {'name':'pey', 'phone':'0119993323', 'birth':'1118'}

In [43]:
print(a.keys())

dict_keys(['name', 'phone', 'birth'])

In [44]:
print(type(a.keys()))

<class 'dict_keys'>

In [65]:
b = list(a.keys())

In [66]:
print(b)

['name', 'phone', 'birth']

In [46]:
for k in a.keys():
    print(k)

name
phone
birth

### 값 리스트 만들기 예제

In [49]:
a = {'name':'pey', 'phone':'0119993323', 'birth':'1118'}

In [50]:
print(a.values())

dict_values(['pey', '0119993323', '1118'])

In [63]:
b = list(a.values())

In [64]:
print(b)

['pey', '0119993323', '1118']

### 키, 값 쌍 얻기 예제

In [51]:
a = {'name':'pey', 'phone':'0119993323', 'birth':'1118'}

In [62]:
print(a.items())

dict_items([('name', 'pey'), ('phone', '0119993323'), ('birth', '1118')])

### 딕셔너리 모두 지우기 예제 (clear)

In [70]:
a = {'name':'pey', 'phone':'0119993323', 'birth':'1118'}

In [71]:
a.clear()

In [72]:
print(a)

{}

### 키를 이용하여 값 출력하기 예제(get)

In [67]:
a = {'name':'pey', 'phone':'0119993323', 'birth':'1118'}

In [68]:
print(a.get('name'))

pey

In [69]:
print(a.get('phone'))

0119993323

### get 함수 사용과 미사용 차이 예제

In [73]:
a = {'name':'pey', 'phone':'0119993323', 'birth':'1118'}

In [74]:
print(a.get('nokey'))

None

In [75]:
print(a['nokey'])

KeyError: 'nokey'

### 딕셔너리 안에 키가 없는 경우 정해둔 값을 가져오기 예제

In [76]:
a = {'name':'pey', 'phone':'0119993323', 'birth':'1118'}

In [77]:
print(a.get('foo'))

None

In [78]:
print(a.get('foo', 'bar'))

bar

### 해당 키의 존재 유무 예제

In [79]:
a = {'name':'pey', 'phone':'0119993323', 'birth':'1118'}

In [80]:
print('name' in a)

True

In [81]:
print('email' in a)

False

# 집합
- 여러 값을 순서 없이 그리고 중복 없이 모아 놓은 자료형

### 집합 생성 예제

In [82]:
s1 = set([1,2,3])

In [83]:
print(s1)

{1, 2, 3}

In [84]:
s2 = set("Hello")

In [85]:
print(s2)

{'e', 'o', 'l', 'H'}

In [86]:
s3 = set((1,2,3))

In [87]:
print(s3)

{1, 2, 3}

### 교집합 예제 ("&" , interseciton)

In [88]:
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])

In [89]:
print(s1 & s2)

{4, 5, 6}

In [90]:
print(s1.intersection(s2))

{4, 5, 6}

### 합집합 예제 (" | ", union)

In [91]:
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])

In [92]:
print(s1 | s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [93]:
print(s1.union(s2))

{1, 2, 3, 4, 5, 6, 7, 8, 9}

### 차집합 예제("-" , difference)

In [94]:
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])

In [95]:
print(s1 - s2)

{1, 2, 3}

In [96]:
print(s1.difference(s2))

{1, 2, 3}

In [97]:
print(s2 - s1)

{8, 9, 7}

In [98]:
print(s2.difference(s1))

{8, 9, 7}

### 집합에 값 1개 추가하기 예제 (add)

In [99]:
s1 = set([1, 2, 3])

In [100]:
s1.add(4)

In [102]:
print(s1)

{1, 2, 3, 4}

### 집합에 값 여러 개 추가하기 예제(update)

In [103]:
s1 = set([1, 2, 3])

In [104]:
s1.update([4, 5, 6])

In [105]:
print(s1)

{1, 2, 3, 4, 5, 6}

### 집합에 특정 값 제거 예제(remove)

In [106]:
s1 = set([1, 2, 3])

In [107]:
s1.remove(2)

In [108]:
print(s1)

{1, 3}

# 불
- 참과 거짓을 나타내는 자료형
- True(참)과 False(거짓) 2가지 값만 가질 수 있음

In [110]:
a = True
b = False
print(type(a))
print(type(b))

<class 'bool'>
<class 'bool'>

### 자료형의 참과 거짓 예제

In [112]:
bool([1,2,3])

True

In [113]:
bool([])

False

In [114]:
bool(0)

False

In [115]:
bool('python')

True

### 논리 연산자와 비교 연산자를 함께 사용하기 예제
- 논리 연산자를 기호로 사용할 경우 묶어서 사용해야 함

In [116]:
print(10 == 10)

True

In [117]:
print(10 != 5)

True

In [118]:
print(10 == 10 and 10 != 5)

True

- 둘 다 참이기 때문에 참이라는 결과가 출력

In [119]:
print(10 == 10 and 10 <= 5)

False

- and 연산자는 하나라도 거짓이면 거짓을 출력

In [120]:
print(10 > 5 or 10 < 3)

True

- or 연산자는 하나라도 참이면 참을 출력

In [121]:
print(not 10 < 5)

True

- not 연산자는 결과를 반대로 출력

In [123]:
if 10 == 10 and 10 != 5:
    print("hello")

hello