# 리스트

- 여러 요소 값을 담을 수 있는 자료형
- \[\](대괄호)를 이용하여 생성

## 리스트 생성 예제

In [1]:
a = [1,2,3]

In [2]:
print(a)

[1, 2, 3]

## 리스트 인덱싱 예제

In [3]:
a = [1,2,3]

In [4]:
print(a[0])

1

In [5]:
print(a[0] + a[2])

4

In [6]:
print(a[-1])

3

In [7]:
b = ['life', 'is', 'too', 'short']

In [8]:
print(b[0] + b[1])

lifeis

In [9]:
a = [1,2,3, ['a','b','c']]

In [10]:
print(a[0])

1

In [11]:
print(a[-1])

['a', 'b', 'c']

In [12]:
print(a[3])

['a', 'b', 'c']

In [13]:
print(a[-1][0])

a

In [14]:
print(a[-1][1])

b

In [15]:
print(a[-1][2])

c

In [16]:
a = [1,2,['a','b',['life','is']]]

In [17]:
print(a[2])

['a', 'b', ['life', 'is']]

In [18]:
print(a[2][2])

['life', 'is']

In [19]:
print(a[2][2][0])

life

## 리스트 슬라이싱 예제

In [20]:
a = [1,2,3,4,5]

In [21]:
print(a[0:2])

[1, 2]

In [22]:
b = a[:2]

In [23]:
print(b)

[1, 2]

In [24]:
c = a[2:]

In [25]:
print(c)

[3, 4, 5]

In [26]:
a = [1,2,3,['a','b','c'],4,5]

In [27]:
print(a[2:5])

[3, ['a', 'b', 'c'], 4]

In [28]:
print(a[3])

['a', 'b', 'c']

In [29]:
print(a[3][:2])

['a', 'b']

## 리스트 합치기 예제

In [30]:
a = [1,2,3]
b = [4,5,6]

In [31]:
print(a + b)

[1, 2, 3, 4, 5, 6]

## 리스트 반복 예제

In [32]:
a = [1,2,3]

In [33]:
print(a * 2)

[1, 2, 3, 1, 2, 3]

## 리스트 요소 수정 예제

In [34]:
a = [1,2,3]

In [35]:
print(a[2])

3

In [36]:
a[2] = 4

In [37]:
print(a)

[1, 2, 4]

In [38]:
a[1:2] = ['a','b','c'] # 슬라이싱을 사용하면 리스트를 사용하지 않고 대입

In [39]:
print(a)

[1, 'a', 'b', 'c', 4]

In [40]:
a[0] = ['a1','a2','a3'] # 슬라이싱을 사용하지 않으면 리스트 포함하여 대입

In [41]:
print(a)

[['a1', 'a2', 'a3'], 'a', 'b', 'c', 4]

## 리스트 요소 제거 예제
- 위의 a 리스트를 그대로 활용

In [42]:
print(a)

[['a1', 'a2', 'a3'], 'a', 'b', 'c', 4]

In [43]:
a[1:3] = []

In [44]:
print(a)

[['a1', 'a2', 'a3'], 'c', 4]

In [45]:
del a[1]

In [46]:
print(a)

[['a1', 'a2', 'a3'], 4]

In [47]:
del a[0:2]

In [48]:
print(a)

[]

# 리스트 함수

## 리스트 요소 추가 예제(append)

In [49]:
a = [1,2,3]

In [50]:
a.append(4)

In [51]:
print(a)

[1, 2, 3, 4]

In [52]:
a.append([5,6])

In [53]:
print(a)

[1, 2, 3, 4, [5, 6]]

## 리스트 정렬 예제(sort)

In [54]:
a = [1,4,3,2]

In [55]:
a.sort()

In [56]:
print(a)

[1, 2, 3, 4]

In [57]:
a = ['abc', '123', 'you need python']

In [58]:
a.sort()

In [59]:
print(a)

['123', 'abc', 'you need python']

In [61]:
a = ['abc', 123, 'you need python']

In [62]:
a.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

- 숫자형 요소와 문자열 요소가 합쳐진 경우 정렬되지 않음

In [63]:
a = ['abc', '123', 'You need python']

In [64]:
a.sort()

In [65]:
print(a)

['123', 'You need python', 'abc']

- 대문자가 포함된 문자열이 있을 경우 대문자가 소문자보다 먼저 정렬됨

## 리스트 뒤집기 예제 (reverse)

In [66]:
a = ['a', 'c', 'b']

In [67]:
a.reverse()

In [68]:
print(a)

['b', 'c', 'a']

## 리스트 요소 찾기 예제 (index)

In [69]:
a = [1, 2, 3]

In [70]:
a.index(3)

2

In [71]:
a.index(1)

0

In [72]:
a.index(0)

ValueError: 0 is not in list

## 리스트 요소 삽입 예제 (insert)

In [73]:
a = [1, 2 ,3]

In [74]:
a.insert(0, 4)

In [75]:
print(a)

[4, 1, 2, 3]

In [76]:
a.insert(3, 5)

In [77]:
print(a)

[4, 1, 2, 5, 3]

In [78]:
a.insert(0, ['a', 'b'])

In [79]:
print(a)

[['a', 'b'], 4, 1, 2, 5, 3]

## 리스트 요소 제거 예제 (remove)

In [80]:
a = [1, 2, 3, 1, 2, 3]

In [81]:
a.remove(3)

In [82]:
print(a)

[1, 2, 1, 2, 3]

In [83]:
a.remove(3)

In [84]:
print(a)

[1, 2, 1, 2]

## 리스트 요소 끄집어내기 예제 (pop)

In [85]:
a = [1, 2, 3]

In [86]:
a.pop()

3

In [87]:
print(a)

[1, 2]

In [88]:
a = [1, 2, 3]

In [89]:
a.pop(1)

2

In [90]:
print(a)

[1, 3]

## 리스트 갯수 세기 예제 (count)

In [91]:
a = [1, 2, 3, 1]

In [92]:
a.count(1)

2

## 리스트 확장 예제 (extend)

In [93]:
a = [1, 2, 3]

In [94]:
a.extend([4, 5])

In [95]:
print(a)

[1, 2, 3, 4, 5]

## 리스트 확장 예제2

In [96]:
a = [1, 2, 3]

In [97]:
b = [4, 5]

In [98]:
c = a + b

In [99]:
print(c)

[1, 2, 3, 4, 5]

In [100]:
a = [1, 2, 3]
b = [4, 5]

In [101]:
a.extend(b)

In [102]:
print(a)

[1, 2, 3, 4, 5]

# 튜플
- 튜플은 요소를 지우거나 변경 불가 -> 안전하고 빠르게 사용
- 튜플 안에 리스트가 포함될 수 있으나 많이 사용하지 않음
- 리스트 안에 튜플을 넣어서 사용하는 경우는 많음
 - 리스트 안에서도 바뀌지 않는 요소가 있어야 하기 때문

## 튜플 생성 예제

In [103]:
t1 = ()

In [104]:
print(t1)

()

In [105]:
print(type(t1))

<class 'tuple'>

In [106]:
t2 = (1)

In [107]:
print(t2)

1

In [110]:
print(type(t2))

<class 'int'>

In [111]:
t2 = (1,)

In [112]:
print(t2)

(1,)

In [113]:
print(type(t2))

<class 'tuple'>

In [114]:
t3 = (1, 2, 3)

In [115]:
print(t3)

(1, 2, 3)

In [116]:
print(type(t3))

<class 'tuple'>

In [117]:
t4 = 1, 2, 3

In [118]:
print(t4)

(1, 2, 3)

In [119]:
t5 = ('a', 'b', ('ab', 'cd'))

In [120]:
print(t5)

('a', 'b', ('ab', 'cd'))

In [121]:
t6 = (1, 2, [3, 4])

In [122]:
print(t6)

(1, 2, [3, 4])

## 튜플 요소 제거 예제

In [123]:
t1 = (1, 2, 'a', 'b')

In [124]:
del t1[0]

TypeError: 'tuple' object doesn't support item deletion

In [125]:
t1[0] = 'c'

TypeError: 'tuple' object does not support item assignment

## 튜플 인덱싱 예제

In [126]:
t1 = (1, 2, 'a', 'b')

In [127]:
print(t1[0])

1

In [128]:
print(t1[3])

b

## 튜플 슬라이싱 예제

In [129]:
t1 = (1, 2, 'a', 'b')

In [130]:
print(t1[1:])

(2, 'a', 'b')

## 튜플 더하기 예제

In [131]:
t1 = (1, 2, 'a', 'b')
t2 = (3, 4)

In [132]:
print(t1 + t2)

(1, 2, 'a', 'b', 3, 4)

In [133]:
t3 = t1 + t2

In [134]:
print(t3)

(1, 2, 'a', 'b', 3, 4)

## 튜플 곱하기 예제

In [135]:
t1 = (1, 2, 'a', 'b')
t2 = (3, 4)

In [136]:
print(t2 * 3)

(3, 4, 3, 4, 3, 4)

In [137]:
t4 = t2 * 3

In [138]:
print(t4)

(3, 4, 3, 4, 3, 4)

## 튜플 길이 구하기 예제

In [139]:
t1 = (1, 2, 'a', 'b')

In [140]:
print(len(t1))

4

# 튜플의 패킹과 언패킹
- 패킹 : 한 데이터에 여러 개의 데이터를 넣은 것
 - 실습을 통해 만들어 본 리스트, 튜플 자료형이 패킹에 속함
- 언패킹 : 한 데이터에서 데이터를 각각 꺼내오는 것
 - 튜플과 리스트 둘 다 패킹, 언패킹 가능

## 언패킹 예제

In [141]:
T = (1, 2, 3, 4, 5)

In [142]:
a, b, c, d, e = T

In [143]:
print(a, b, c, d, e)

1 2 3 4 5

In [144]:
print(a)

1

In [145]:
print(d)

4

In [146]:
a, *b = T

In [147]:
print(a, b)

1 [2, 3, 4, 5]

In [148]:
a, b, *c = T

In [149]:
print(a, b, c)

1 2 [3, 4, 5]

In [150]:
print(type(c))

<class 'list'>

In [151]:
L = [1, 2, 3, 4, 5]

In [152]:
a, b, c, d, e = L

In [153]:
print(a, b, c, d, e)

1 2 3 4 5

## 리스트 -> 튜플 변경 예제

In [154]:
L = [1, 2, 3, 4, 5]

In [155]:
T = tuple(L)

In [156]:
print(T)

(1, 2, 3, 4, 5)

## 튜플 -> 리스트 변경 예제

In [157]:
T = (1, 2, 3, 4, 5)

In [158]:
L = list(T)

In [159]:
print(L)

[1, 2, 3, 4, 5]